*{
    margin : 0 ;
    padding : 0 ;
    box-sizing : border-box ;
    font-family : Arial , sans-serif ;
}

body{
    background : linear-gradient(120deg , #0f2027 , #203a43 , #2c5364) ;
    color : white ;
}

.nav{
    background : #000 ;
    padding : 18px 37px ;
    display : flex ;
    justify-content : space-between ;
    align-items : center ;
    box-shadow : 0 6px 15px rgba(0,0,0,0.6) ;

}

.brand{
    color : blue ;
}

.menu{
    display : flex ;
    gap : 30px ;
}

.menu li{
    cursor : pointer ;
    font-weight : bold ;
}

.wrapper{
    text-align : center ;
    padding : 60px 20px ;
}

.heading{
    font-size : 36px ;
    margin-bottom : 10px ;
}

.text{
    color : #cfd8dc ;
    margin-bottom : 50px ;
}

.cards{
    display : flex ;
    justify-content : center ;
    gap : 30px ;
    flex-wrap : wrap ;
}

.card{
    background : #111 ;
    width : 310px ;
    padding : 35px ;
    border-radius : 18px ;
    box-shadow : 0 10px 30px rgba(0,0,0,0.7) ;
    text-align : left ;
    transition : transform 0.3s ;
}

.card:hover{
    transform : translateY(-10px) ; /* new */
    box-shadow : 0 15px 40px rgba(0,0,0,0.9) ;
}



.small{
    font-size : 14px ;
    color : #aaa ;
}

.price{
    font-size : 38px ;
    color : yellow ;
    margin : 10px 0 ;
}

.price span{
    font-size : 15px ;
    color : #bbb ;
}

.info{
    margin : 15px 0 ;
    color : #ddd ;
}

.card ul{
    margin : 20px 0 ;
    
    
}

.card ul li{
    margin-bottom : 12px ;
}

.card button{
    background : yellow ;
    border : none ;
    padding : 12px 18px ;
    border-radius : 10px ;
    color : black ;
    font-weight : bold ;
    cursor :pointer ;
}

.card button:hover{
    background : #0088cc ;
}

