body {
    font-family: Arial, sans-serif;
    background-color:pink;
}

.formbox {
    width: 300px;
    background-color: rgb(231, 231, 133);
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 4px 4px 15px rgb(201, 99, 116);
}

input {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

input[type="submit"] {
    
    background-color: pink;
    color: black;
    border-width : 5px black;
    border-radius:  5px;
    margin-top: 10px black ;
    cursor: pointer;

   
   }


